.Participants {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 100vh;
}

.Participant-Card img {
  max-width: 50px;
  max-height: 50px;
}

.Participant-Card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Participant-Card-Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8pt;
}

.Participant-Card-Details-Sub-Icons ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: space-around;
}

.Participant-Card-Details-Sub-Icons {

}