.Stage {
  background-color: #404853;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100vh;
}

.Stage-Card {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.Stage-Person {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.Stage-Name-Box {
  color: #dae5d2;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #29333f;
  width: 12em;
  max-height: 5em;
}

.Stage-Name-Box ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.Stage-Name-Box-Icon {
  width: 30px;
  height: 30px;
}

.Stage-Name-Box hr {
  width: 5em;
  border: solid #f37a7b 2px;
  border-radius: 2px;
}

.Stage-Person img {
  border-radius: 100%;
}

.stage-top {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.stage-bottom {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-content: flex-end;
}

.stage-bottom img {
  width: 70px;
  border-radius: 100%;

}

.stage-bottom .Stage-Name-Box {
  max-height: 15em;
  border-radius: 5px;
}