.Participants {
  /* display: flex; */
  /* flex-flow is flex-direction and flex-wrap short hand */
  /* flex-flow: column nowrap; */
  width: 10em;
  height: 100vh;
}

.Participant-Card img {
  border-radius: 50%;
  border: 1px solid black;
  background: rgb(94, 92, 92);
  max-width: 50px;
  height: auto;
}

.Participant-Card {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.Participant-Card-Details {
  display: flex;
  flex-direction: row;
}